.body {
  min-height: 100vh;
  flex: 0.8;
  color: white;
  padding: 3rem;
  background: linear-gradient(rgb(91, 87, 115), rgba(0, 0, 0, 1));
}

body::-webkit-scrollbar {
  display: none;
}

.body__info {
  display: flex;
  align-items: flex-end;
  padding: 1rem;
}

.body__infoText {
  flex: 1;
}

.body__infoText > h2 {
  font-size: 4.8rem;
  margin-bottom: 1rem;
}

.body__infoText > p {
  font-size: 1.4rem;
}
.body__info > img {
  height: 15vw;
  margin: 0 2rem;
  box-shadow: 0 0.4rem 6rem rgba(0, 0, 0, 0.5);
}

.body__icons {
  display: flex;
  align-items: center;
}

.body__icons > .MuiSvgIcon-root {
  margin-right: 2rem;
}

.body__shuffle {
  font-size: 6rem !important;
  margin: 2rem 0 2rem 5rem;
}

.body__shuffle:hover {
  transform: scale(1.1);
  transition: 0.2s transform ease-in;
}

.body__songs {
  margin: 2rem -3rem;
}
