.songRow {
  margin-left: 2rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  z-index: 2;
  color: white;
}

.songRow:hover {
  cursor: pointer;
  background-color: black;
  opacity: 0.8;
}

.songRow__info {
  margin-left: 2rem;
}

.songRow__info > h1 {
  font-size: 1.6rem;
}

.songRow__info > p {
  font-size: 1.4rem;
  margin-top: 3px;
  color: gray;
}

.songRow__album {
  height: 4rem;
  width: 4rem;
}
